/* RESET */
* {
    box-sizing: border-box;
}

/* FONDO */
body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(135deg, #ff758c, #ff7eb3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

/* TARJETA */
.card {
    background: white;
    padding: 25px 50px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    animation: fadeIn 2s ease;
    width: 100%;
    max-width: 420px;
}

/* SLIDER */
.photo {
    width: 300px;
    height: 300px;
    margin: 0 auto 25px;
    border-radius: 30%;
    border: 6px solid #ff4d6d;
    overflow: hidden;
}

/* CONTENEDOR DE IMÁGENES */
.slides {
    display: flex;
    width: 300%;              /* 3 imágenes */
    animation: slide 7s ease-in-out infinite;
}

/* IMÁGENES */
.slides img {
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    object-fit: cover;
    object-position: 50% 30%;
    display: block;
}

/* TEXTO */
h1 {
    color: #ff4d6d;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.message {
    font-size: 1.2rem;
    color: #333;
    margin: 10px 0;
}

.message.small {
    font-size: 1.05rem;
    color: #555;
}

.date {
    font-size: 1rem;
    color: #777;
}

/* ANIMACIÓN DE ENTRADA */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* SLIDER AUTOMÁTICO INFINITO */
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(0);
    }

    35% {
        transform: translateX(-300px);
    }
    60% {
        transform: translateX(-300px);
    }

    70% {
        transform: translateX(-600px);
    }
    95% {
        transform: translateX(-600px);
    }

    100% {
        transform: translateX(0); /* 🔥 vuelve al inicio */
    }
}
